<!-- Extend the base template -->
{% extends "users/base.html" %}

<!-- Include static for routing to the JS file -->
{% load static %}

<!-- Custom title for the page -->
{% block title %} Sign Up/In {% endblock %}

<!-- Custom content for the page -->
{% block content %}

<h2>Sign Up/In</h2>
<div id="signed_in"></div>
<!-- Create a form for submitting data, use method post to keep the url clean and action add later -->
<form method="post" id="user_form">
    <fieldset>
        <legend>User Information</legend>
        <!-- Without this token django will reject the form submission -->
        {% csrf_token %}
        <!-- Label for the user to enter their name for accessibility -->
        <label for="name">Name</label>
        <!-- Input field for the user's name, required for form submission -->
        <input type="text" id="name" name="name" placeholder="ie: John Smith" autocomplete="name" required>

        <br>

        <!-- Label for the user to enter their email for accessibility -->
        <label for="email">Email</label>
        <!-- Input field for the user's email, required for form submission -->
        <input type="email" id="email" name="email" placeholder="ie: john@example.com" autocomplete="email" required>

        <br>

        <!-- Label for the user to enter their password for accessibility -->
        <label for="password">Password</label>
        <!-- Input field for the user's password, required for form submission -->
        <input type="password" id="password" name="password" placeholder="Your Password" autocomplete="current-password" required>

        <br>

        <!-- Submit button for the form -->
        <button type="submit" name="action" value="signup">Sign Up</button>
        <button type="submit" name="action" value="login">Log In</button>
    </fieldset>
</form>

<div id="error_messages"></div>

<!-- Link the JavaScript file for user-related functionality -->
<script type="module" src="{% static 'users/js/auth.js' %}"></script>

{% endblock %}
