{% extends "main/base.html" %} 

<!-- Include static for routing to the JS file -->
{% load static %}

{% block title %} Home Page {% endblock %}
{% block content %}
<div id="signed_in"></div>
<div class="hero">
  <div class="stack">
    <h1>Learn Biblical Hebrew</h1>
    <h3>Like Never Before</h3>
    <p>Learn basic Biblical Hebrew through interactive <br> lessons, gamified learning, and daily practice</p>
    <div class="hero-actions">
      <a href="{% url 'users:account' %}" class="btn-primary btn" id="hero-cta">Start Learning For Free</a>
    </div>
  </div>
</div>
<section class="features">
  <h2>Section Title</h2>
  <div class="features-grid">
    <div class="card">
      <h3>Title</h3>
      <p>Short description</p>
    </div>    
    <div class="card">
      <h3>Title</h3>
      <p>Short description</p>
    </div>
    <div class="card">
      <h3>Title</h3>
      <p>Short description</p>
    </div>
  </div>
</section>


<!-- Test code for Css end -->
{% endblock %}
